@keyframes fadeIn {
  0% {
    top: -10px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    top: 0;
    opacity: 1;
    height: auto;
    width: auto;
  }
  to {
    top: -10px;
    opacity: 0;
    height: auto;
    width: auto;
  }
}
#public-wrapper .homepage-sections:after,
#public-wrapper .homepage-sections:before {
  display: table;
  content: ' ';
}
#public-wrapper .homepage-sections:after {
  clear: both;
}
@media (min-width: 768px) {
  body.no-scroll {
    overflow: hidden;
  }
}
.photo-sections .photo-row {
  width: 285px;
  margin: auto;
}
@media (min-width: 768px) {
  .photo-sections .photo-row {
    width: 688px;
  }
}
@media (min-width: 992px) {
  .photo-sections .photo-row {
    width: 880px;
  }
}
@media (min-width: 1200px) {
  .photo-sections .photo-row {
    width: 980px;
  }
}
.photo-sections .photo-row:after,
.photo-sections .photo-row:before {
  display: table;
  content: ' ';
}
.photo-sections .photo-row:after {
  clear: both;
}
.photo-sections .photo-row .photo-container {
  display: inline-block;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .photo-sections .photo-row .photo-container {
    display: block;
    margin-bottom: 0;
  }
}
.photo-sections .photo-row:nth-child(5n-2) .photo-1 .photo {
  width: 285px;
  height: 285px;
  float: right !important;
}
@media (min-width: 768px) {
  .photo-sections .photo-row:nth-child(5n-2) .photo-1 .photo {
    width: 512.48979592px;
    height: 512.48979592px;
  }
}
@media (min-width: 992px) {
  .photo-sections .photo-row:nth-child(5n-2) .photo-1 .photo {
    width: 655.51020408px;
    height: 655.51020408px;
  }
}
@media (min-width: 1200px) {
  .photo-sections .photo-row:nth-child(5n-2) .photo-1 .photo {
    width: 730px;
    height: 730px;
  }
}
.photo-sections .photo-row:nth-child(5n-2) .photo-2 .photo,
.photo-sections .photo-row:nth-child(5n-2) .photo-3 .photo,
.photo-sections .photo-row:nth-child(5n-2) .photo-4 .photo {
  width: 285px;
  height: 285px;
  float: left !important;
}
@media (min-width: 768px) {
  .photo-sections .photo-row:nth-child(5n-2) .photo-2 .photo,
  .photo-sections .photo-row:nth-child(5n-2) .photo-3 .photo,
  .photo-sections .photo-row:nth-child(5n-2) .photo-4 .photo {
    width: 155.51020408px;
    height: 155.51020408px;
  }
}
@media (min-width: 992px) {
  .photo-sections .photo-row:nth-child(5n-2) .photo-2 .photo,
  .photo-sections .photo-row:nth-child(5n-2) .photo-3 .photo,
  .photo-sections .photo-row:nth-child(5n-2) .photo-4 .photo {
    width: 204.48979592px;
    height: 204.48979592px;
  }
}
@media (min-width: 1200px) {
  .photo-sections .photo-row:nth-child(5n-2) .photo-2 .photo,
  .photo-sections .photo-row:nth-child(5n-2) .photo-3 .photo,
  .photo-sections .photo-row:nth-child(5n-2) .photo-4 .photo {
    width: 230px;
    height: 230px;
  }
}
.photo-sections .photo-row:nth-child(5n-1) .photo-1 .photo {
  float: left !important;
  width: 285px;
  height: 285px;
}
@media (min-width: 768px) {
  .photo-sections .photo-row:nth-child(5n-1) .photo-1 .photo {
    width: 336.97959184px;
    height: 336.97959184px;
  }
}
@media (min-width: 992px) {
  .photo-sections .photo-row:nth-child(5n-1) .photo-1 .photo {
    width: 431.02040816px;
    height: 431.02040816px;
  }
}
@media (min-width: 1200px) {
  .photo-sections .photo-row:nth-child(5n-1) .photo-1 .photo {
    width: 480px;
    height: 480px;
  }
}
.photo-sections .photo-row:nth-child(5n-1) .photo-2 .photo,
.photo-sections .photo-row:nth-child(5n-1) .photo-3 .photo,
.photo-sections .photo-row:nth-child(5n-1) .photo-4 .photo,
.photo-sections .photo-row:nth-child(5n-1) .photo-5 .photo {
  width: 285px;
  height: 285px;
  float: left !important;
}
@media (min-width: 768px) {
  .photo-sections .photo-row:nth-child(5n-1) .photo-2 .photo,
  .photo-sections .photo-row:nth-child(5n-1) .photo-3 .photo,
  .photo-sections .photo-row:nth-child(5n-1) .photo-4 .photo,
  .photo-sections .photo-row:nth-child(5n-1) .photo-5 .photo {
    width: 155.51020408px;
    height: 155.51020408px;
  }
}
@media (min-width: 992px) {
  .photo-sections .photo-row:nth-child(5n-1) .photo-2 .photo,
  .photo-sections .photo-row:nth-child(5n-1) .photo-3 .photo,
  .photo-sections .photo-row:nth-child(5n-1) .photo-4 .photo,
  .photo-sections .photo-row:nth-child(5n-1) .photo-5 .photo {
    width: 204.48979592px;
    height: 204.48979592px;
  }
}
@media (min-width: 1200px) {
  .photo-sections .photo-row:nth-child(5n-1) .photo-2 .photo,
  .photo-sections .photo-row:nth-child(5n-1) .photo-3 .photo,
  .photo-sections .photo-row:nth-child(5n-1) .photo-4 .photo,
  .photo-sections .photo-row:nth-child(5n-1) .photo-5 .photo {
    width: 230px;
    height: 230px;
  }
}
.photo-sections .photo-row:nth-child(5n-1) .photo-1 .photo,
.photo-sections .photo-row:nth-child(5n-1) .photo-2 .photo,
.photo-sections .photo-row:nth-child(5n-1) .photo-4 .photo {
  margin-right: 20px;
}
.photo-sections .photo-row:nth-child(5n-3) .photo-container .photo {
  float: left !important;
  width: 285px;
  height: 285px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .photo-sections .photo-row:nth-child(5n-3) .photo-container .photo {
    width: 155.51020408px;
    height: 155.51020408px;
  }
}
@media (min-width: 992px) {
  .photo-sections .photo-row:nth-child(5n-3) .photo-container .photo {
    width: 204.48979592px;
    height: 204.48979592px;
  }
}
@media (min-width: 1200px) {
  .photo-sections .photo-row:nth-child(5n-3) .photo-container .photo {
    width: 230px;
    height: 230px;
  }
}
.photo-sections .photo-row:nth-child(5n-3) .photo-container:last-child .photo {
  margin-right: 0;
}
.photo-sections .photo-row:nth-child(5n-5) .photo-1 .photo {
  width: 285px;
  height: 285px;
  float: left !important;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .photo-sections .photo-row:nth-child(5n-5) .photo-1 .photo {
    width: 512.48979592px;
    height: 512.48979592px;
  }
}
@media (min-width: 992px) {
  .photo-sections .photo-row:nth-child(5n-5) .photo-1 .photo {
    width: 655.51020408px;
    height: 655.51020408px;
  }
}
@media (min-width: 1200px) {
  .photo-sections .photo-row:nth-child(5n-5) .photo-1 .photo {
    width: 730px;
    height: 730px;
  }
}
.photo-sections .photo-row:nth-child(5n-5) .photo-2 .photo,
.photo-sections .photo-row:nth-child(5n-5) .photo-3 .photo,
.photo-sections .photo-row:nth-child(5n-5) .photo-4 .photo {
  width: 285px;
  height: 285px;
  float: left !important;
}
@media (min-width: 768px) {
  .photo-sections .photo-row:nth-child(5n-5) .photo-2 .photo,
  .photo-sections .photo-row:nth-child(5n-5) .photo-3 .photo,
  .photo-sections .photo-row:nth-child(5n-5) .photo-4 .photo {
    width: 155.51020408px;
    height: 155.51020408px;
  }
}
@media (min-width: 992px) {
  .photo-sections .photo-row:nth-child(5n-5) .photo-2 .photo,
  .photo-sections .photo-row:nth-child(5n-5) .photo-3 .photo,
  .photo-sections .photo-row:nth-child(5n-5) .photo-4 .photo {
    width: 204.48979592px;
    height: 204.48979592px;
  }
}
@media (min-width: 1200px) {
  .photo-sections .photo-row:nth-child(5n-5) .photo-2 .photo,
  .photo-sections .photo-row:nth-child(5n-5) .photo-3 .photo,
  .photo-sections .photo-row:nth-child(5n-5) .photo-4 .photo {
    width: 230px;
    height: 230px;
  }
}
.photo-sections .photo-row:nth-child(5n-4) .photo-1 .photo,
.photo-sections .photo-row:nth-child(5n-4) .photo-2 .photo,
.photo-sections .photo-row:nth-child(5n-4) .photo-4 .photo,
.photo-sections .photo-row:nth-child(5n-4) .photo-5 .photo {
  width: 285px;
  height: 285px;
  margin-right: 20px;
  float: left !important;
}
@media (min-width: 768px) {
  .photo-sections .photo-row:nth-child(5n-4) .photo-1 .photo,
  .photo-sections .photo-row:nth-child(5n-4) .photo-2 .photo,
  .photo-sections .photo-row:nth-child(5n-4) .photo-4 .photo,
  .photo-sections .photo-row:nth-child(5n-4) .photo-5 .photo {
    width: 155.51020408px;
    height: 155.51020408px;
  }
}
@media (min-width: 992px) {
  .photo-sections .photo-row:nth-child(5n-4) .photo-1 .photo,
  .photo-sections .photo-row:nth-child(5n-4) .photo-2 .photo,
  .photo-sections .photo-row:nth-child(5n-4) .photo-4 .photo,
  .photo-sections .photo-row:nth-child(5n-4) .photo-5 .photo {
    width: 204.48979592px;
    height: 204.48979592px;
  }
}
@media (min-width: 1200px) {
  .photo-sections .photo-row:nth-child(5n-4) .photo-1 .photo,
  .photo-sections .photo-row:nth-child(5n-4) .photo-2 .photo,
  .photo-sections .photo-row:nth-child(5n-4) .photo-4 .photo,
  .photo-sections .photo-row:nth-child(5n-4) .photo-5 .photo {
    width: 230px;
    height: 230px;
  }
}
.photo-sections .photo-row:nth-child(5n-4) .photo-3 .photo {
  width: 285px;
  height: 285px;
  float: right !important;
}
@media (min-width: 768px) {
  .photo-sections .photo-row:nth-child(5n-4) .photo-3 .photo {
    width: 336.97959184px;
    height: 336.97959184px;
  }
}
@media (min-width: 992px) {
  .photo-sections .photo-row:nth-child(5n-4) .photo-3 .photo {
    width: 431.02040816px;
    height: 431.02040816px;
  }
}
@media (min-width: 1200px) {
  .photo-sections .photo-row:nth-child(5n-4) .photo-3 .photo {
    width: 480px;
    height: 480px;
  }
}
.photo-sections .photo-row .photo {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .photo-sections .photo-row .photo {
    margin-bottom: 20px;
  }
}
.lightbox {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  overflow-y: auto;
}
@media (min-width: 768px) {
  .lightbox .photo {
    max-height: 500px;
  }
}
.lightbox .photo-container {
  padding-top: 50px;
  position: relative;
}
.lightbox .photo-container .lightbox-close {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  line-height: 1px;
  font-family: 'proxima-nova', 'Helvetica', Arial, sans-serif;
}
.lightbox .photo-container .slideshow-container {
  display: table;
  margin: auto;
}
@media (min-width: 768px) {
  .lightbox .photo-container .slideshow-container {
    height: 500px;
  }
}
.lightbox .photo-container .slideshow-container .arrow-left,
.lightbox .photo-container .slideshow-container .arrow-right,
.lightbox .photo-container .slideshow-container .photo-section {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-size: 50px;
}
@media (min-width: 768px) {
  .lightbox .photo-container .slideshow-container .photo-section {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .lightbox .photo-container .slideshow-container .photo-section {
    width: 700px;
  }
}
.lightbox .photo-container .slideshow-container .arrow-left,
.lightbox .photo-container .slideshow-container .arrow-right {
  padding: 0 20px;
}
.lightbox .photo-caption {
  color: #fff !important;
}
@media (min-width: 768px) {
  .lightbox .photo-caption {
    max-width: 60%;
    margin: 30px auto;
  }
}
.photo-large {
  width: 285px;
  height: 285px;
}
@media (min-width: 768px) {
  .photo-large {
    width: 512.48979592px;
    height: 512.48979592px;
  }
}
@media (min-width: 992px) {
  .photo-large {
    width: 655.51020408px;
    height: 655.51020408px;
  }
}
@media (min-width: 1200px) {
  .photo-large {
    width: 730px;
    height: 730px;
  }
}
.photo-medium {
  width: 285px;
  height: 285px;
}
@media (min-width: 768px) {
  .photo-medium {
    width: 336.97959184px;
    height: 336.97959184px;
  }
}
@media (min-width: 992px) {
  .photo-medium {
    width: 431.02040816px;
    height: 431.02040816px;
  }
}
@media (min-width: 1200px) {
  .photo-medium {
    width: 480px;
    height: 480px;
  }
}
.photo-small {
  width: 285px;
  height: 285px;
}
@media (min-width: 768px) {
  .photo-small {
    width: 155.51020408px;
    height: 155.51020408px;
  }
}
@media (min-width: 992px) {
  .photo-small {
    width: 204.48979592px;
    height: 204.48979592px;
  }
}
@media (min-width: 1200px) {
  .photo-small {
    width: 230px;
    height: 230px;
  }
}
html.public-wedding-page {
  opacity: 1;
}
#public-wrapper .wedding-info-section .horizontal {
  text-align: center;
}
@media (min-width: 768px) {
  #public-wrapper .wedding-info-section .horizontal .content {
    display: table;
    margin: auto;
  }
  #public-wrapper .wedding-info-section .horizontal .content .hashtag {
    display: table-caption;
    text-align: center;
  }
}
#public-wrapper .wedding-info-section .horizontal .date,
#public-wrapper .wedding-info-section .horizontal .location,
#public-wrapper .wedding-info-section .horizontal .time {
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  #public-wrapper .wedding-info-section .horizontal .date,
  #public-wrapper .wedding-info-section .horizontal .location,
  #public-wrapper .wedding-info-section .horizontal .time {
    width: 33.33333333%;
    display: table-cell;
  }
}
#public-wrapper .wedding-info-section .horizontal .date .month:after {
  content: '\00a0';
}
#public-wrapper .wedding-info-section .horizontal .date .day:after {
  content: ',\00a0';
}
#public-wrapper .wedding-info-section .horizontal .time .numeric:after {
  content: '\00a0';
}
#public-wrapper .wedding-info-section .vertical-single .date,
#public-wrapper .wedding-info-section .vertical-single .hashtag,
#public-wrapper .wedding-info-section .vertical-single .location,
#public-wrapper .wedding-info-section .vertical-single .time {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
#public-wrapper #registry-page .registry-nav .zola-registry-logo-dark,
#public-wrapper .wedding-info-section .vertical-single .date .day,
#public-wrapper .wedding-info-section .vertical-single .date .month,
#public-wrapper .wedding-info-section .vertical-single .date .year,
#public-wrapper .wedding-info-section .vertical-single .hashtag .day,
#public-wrapper .wedding-info-section .vertical-single .hashtag .month,
#public-wrapper .wedding-info-section .vertical-single .hashtag .year,
#public-wrapper .wedding-info-section .vertical-single .location .day,
#public-wrapper .wedding-info-section .vertical-single .location .month,
#public-wrapper .wedding-info-section .vertical-single .location .year,
#public-wrapper .wedding-info-section .vertical-single .time .day,
#public-wrapper .wedding-info-section .vertical-single .time .month,
#public-wrapper .wedding-info-section .vertical-single .time .year {
  display: inline-block;
}
@media (min-width: 768px) {
  #public-wrapper .wedding-info-section .vertical-single .date,
  #public-wrapper .wedding-info-section .vertical-single .hashtag,
  #public-wrapper .wedding-info-section .vertical-single .location,
  #public-wrapper .wedding-info-section .vertical-single .time {
    margin-bottom: 0;
  }
}
#public-wrapper .wedding-info-section .vertical-double {
  margin: 46px 0;
}
#public-wrapper
  .wedding-info-section
  .vertical-double
  .wedding-info-left
  .big-initial,
#public-wrapper
  .wedding-info-section
  .vertical-double
  .wedding-info-right
  .big-initial {
  font-size: 100px;
}
#public-wrapper .wedding-info-section .vertical-double .wedding-info-left {
  padding-bottom: 40px;
}
#public-wrapper .wedding-info-section .vertical-double .wedding-info-right {
  padding-top: 40px;
}
@media (min-width: 768px) {
  #public-wrapper .wedding-info-section .vertical-double {
    display: table;
    width: 100%;
    margin: 80px 0;
  }
  #public-wrapper .wedding-info-section .vertical-double .wedding-info-left,
  #public-wrapper .wedding-info-section .vertical-double .wedding-info-right {
    padding: 0;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
  }
  #public-wrapper
    .wedding-info-section
    .vertical-double
    .wedding-info-left
    .big-initial,
  #public-wrapper
    .wedding-info-section
    .vertical-double
    .wedding-info-right
    .big-initial {
    font-size: 170px;
  }
  #public-wrapper
    .wedding-info-section
    .vertical-double
    .wedding-info-left
    .big-initial
    .minutes,
  #public-wrapper
    .wedding-info-section
    .vertical-double
    .wedding-info-right
    .big-initial
    .minutes {
    font-size: 30px;
    vertical-align: top;
    line-height: 4;
  }
}
#public-wrapper .wedding-info-section .vertical-double,
#public-wrapper .wedding-info-section .vertical-single {
  display: none;
}
#public-wrapper .wedding-info-section .horizontal:after,
#public-wrapper .wedding-info-section .horizontal:before,
#public-wrapper .wedding-info-section .vertical-double:after,
#public-wrapper .wedding-info-section .vertical-double:before,
#public-wrapper .wedding-info-section .vertical-single:after,
#public-wrapper .wedding-info-section .vertical-single:before {
  display: table;
  content: ' ';
}
#public-wrapper .wedding-info-section .horizontal:after,
#public-wrapper .wedding-info-section .vertical-double:after,
#public-wrapper .wedding-info-section .vertical-single:after {
  clear: both;
}
.events-actions {
  border-top: 1px solid #434343;
}
.events-actions__sticky-wrapper > div > div:nth-child(2) .events-actions {
  background: #f9f6f4;
  background: #f9f6f4 url(/assets/poetry/Marble_Background.jpg);
}
#rsvp-page-v2 .events-actions__link-next:hover,
.events-actions__link-next:hover,
a.events-actions__link-next:hover {
  background: false !important;
  border-color: false !important;
  color: false !important;
}
#public-wedding-background,
#public-wrapper {
  background: #f9f6f4 url(/assets/poetry/Marble_Background.jpg);
}
#public-wrapper {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
  color: #434343;
  font-family: 'Montserrat', sans-serif;
}
#public-wrapper a,
#public-wrapper address,
#public-wrapper h1,
#public-wrapper h2,
#public-wrapper h3,
#public-wrapper h5,
#public-wrapper h6,
#public-wrapper i,
#public-wrapper p {
  color: #434343;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
#public-wrapper h4 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
#public-wrapper h1,
#public-wrapper h2,
#public-wrapper h3 {
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}
#public-wrapper address,
#public-wrapper p {
  font-family: 'Cardo', serif;
  font-size: 19px;
  letter-spacing: 0.5px;
  line-height: 27px;
}
#public-wrapper h4,
#public-wrapper label {
  font-family: 'Cardo', serif;
  font-size: 19px;
  letter-spacing: 0;
  color: #434343;
  font-style: italic;
}
#public-wrapper h3 {
  font-size: 34px;
}
#public-wrapper h2 {
  font-size: 32px;
}
@media (min-width: 480px) {
  #public-wrapper h2 {
    font-size: 34px;
  }
}
@media (min-width: 768px) {
  #public-wrapper h2 {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  #public-wrapper h2 {
    font-size: 36px;
  }
}
#public-wrapper h1 {
  font-size: 45px;
}
@media (min-width: 768px) {
  #public-wrapper h1 {
    font-size: 56px;
  }
}
#public-wrapper .radio-inline,
#public-wrapper h5 {
  font-family: 'Cardo', serif;
  font-style: normal;
  font-size: 15px;
}
#public-wrapper .btn-primary {
  color: #434343;
  background: #f9f6f4;
  border-color: #434343;
  white-space: normal;
  border-width: 1px;
}
#public-wrapper .btn-primary.focus,
#public-wrapper .btn-primary:focus,
#public-wrapper .btn-primary:link,
#public-wrapper .btn-primary:visited {
  color: #434343;
  background: #f9f6f4;
  border-color: #434343;
}
#public-wrapper .btn-primary:active,
#public-wrapper .btn-primary:hover {
  color: #f9f6f4;
  background: #434343;
  border-color: #434343;
}
#public-wrapper .btn-primary.disabled:active,
#public-wrapper .btn-primary.disabled:hover {
  color: #a8a8aa;
  background: #d9d9d9;
  border-color: #d9d9d9;
}
#public-wrapper .form-control {
  background-color: transparent;
  border-color: #434343;
  color: #434343;
  font-family: 'Montserrat', sans-serif;
}
#public-wrapper .form-control:focus {
  border-color: #434343;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(67, 67, 67, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(67, 67, 67, 0.6);
}
#public-wrapper .radio-inline .input-override:hover {
  border-color: #434343;
}
#public-wrapper .radio-inline .input-override,
#public-wrapper .radio-inline input[type='radio'] + .input-override:before {
  background-color: transparent;
}
#public-wrapper
  .radio-inline
  input[type='radio']:checked
  + .input-override:before {
  background-color: #434343;
}
#public-wrapper .sticky-nav {
  border-bottom: 1px solid #434343;
}
#public-wrapper .sticky-nav header h1 a {
  font-size: 20px;
  -webkit-transition: font-size 0.2s;
  -moz-transition: font-size 0.2s;
  -ms-transition: font-size 0.2s;
  -o-transition: font-size 0.2s;
  transition: font-size 0.2s;
}
#public-wrapper .sticky-nav header h5 {
  font-style: italic;
  font-size: 14px !important;
}
#public-wrapper .sticky-nav li a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}
#public-wrapper .sticky-nav li a.active {
  text-decoration: underline;
}
#public-wrapper .sticky-nav,
#public-wrapper .sticky-nav .nav-container,
#public-wrapper .sticky-nav .pages-nav-container {
  background: #f9f6f4 url(/assets/poetry/Marble_Background.jpg);
}
@media (min-width: 768px) {
  #public-wrapper .sticky-nav header .website-title h1 a {
    font-size: 42px;
  }
  #public-wrapper .sticky-nav.sticky header h1 a {
    font-size: 32px;
  }
}
#public-wrapper #public-page-content-wrapper,
#public-wrapper .home-page-hero,
#public-wrapper .names-section {
  position: relative;
}
#public-wrapper .home-page-hero h1 {
  font-family: 'Cardo', serif;
  font-style: italic;
  text-transform: none;
  letter-spacing: 0;
}
#public-wrapper .home-page-hero .hero-accent-top-left {
  width: 75%;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  background-image: url(/assets/poetry/nohero_top.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: top left;
}
#public-wrapper .home-page-hero .hero-accent-bottom-left,
#public-wrapper .home-page-hero .hero-accent-bottom-right {
  width: 25%;
  height: 600px;
  position: absolute;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
#public-wrapper .home-page-hero .hero-accent-bottom-right {
  background-image: url(/assets/poetry/top_right.png);
  top: 64%;
  right: 0;
  background-position: top right;
}
#public-wrapper .home-page-hero .hero-accent-bottom-left {
  background-image: url(/assets/poetry/top_left.png);
  top: 85%;
  left: 0;
  background-position: top left;
}
#public-wrapper .home-page-hero.no-image {
  background: 0 0;
}
#public-wrapper .names-section .name-section-left,
#public-wrapper .names-section .name-section-right {
  display: none;
}
#public-wrapper .names-section .name-section-middle {
  position: relative;
  float: none;
  width: 100%;
  padding: 60px 0;
}
#public-wrapper .names-section .name-section-middle .and {
  font-family: 'Cardo', serif;
  font-size: 19px;
  font-style: italic;
}
#public-wrapper .names-section .name-section-middle .amp,
#public-wrapper .names-section .name-section-middle .plus {
  display: none;
}
#public-wrapper .names-section .name-section-middle .name-1 .first-name,
#public-wrapper .names-section .name-section-middle .name-1 .last-name,
#public-wrapper .names-section .name-section-middle .name-2 .first-name,
#public-wrapper .names-section .name-section-middle .name-2 .last-name {
  display: block;
  font-size: 36px;
}
@media (min-width: 768px) {
  #public-wrapper .names-section .name-section-middle .name-1 .first-name,
  #public-wrapper .names-section .name-section-middle .name-1 .last-name,
  #public-wrapper .names-section .name-section-middle .name-2 .first-name,
  #public-wrapper .names-section .name-section-middle .name-2 .last-name {
    font-size: 45px;
  }
}
#public-wrapper .wedding-info-section .horizontal {
  position: relative;
  display: block;
}
#public-wrapper .wedding-info-section .horizontal div {
  padding: 20px 0;
}
#public-wrapper .wedding-info-section .horizontal div.hashtag {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  #public-wrapper .wedding-info-section .horizontal div {
    padding: 20px 30px;
  }
}
#public-wrapper .wedding-info-section .horizontal div.content {
  padding: 0;
}
#public-wrapper .wedding-info-section .horizontal .location .city,
#public-wrapper .wedding-info-section .horizontal .location .state {
  font-size: 28px;
  display: block;
}
@media (min-width: 768px) {
  #public-wrapper .wedding-info-section .horizontal .location .city,
  #public-wrapper .wedding-info-section .horizontal .location .state {
    display: inline;
    font-size: 34px;
  }
}
#public-wrapper #registry-page .registry-nav .zola-registry-logo-light,
#public-wrapper .wedding-info-section .horizontal .date .day:after,
#public-wrapper .wedding-info-section .horizontal .location .comma {
  display: none;
}
@media (min-width: 768px) {
  #public-wrapper .wedding-info-section .horizontal .location .comma {
    display: inline;
  }
}
#public-wrapper .wedding-info-section .horizontal .date h3 {
  font-size: 28px;
}
@media (min-width: 768px) {
  #public-wrapper .wedding-info-section .horizontal .date h3 {
    font-size: 34px;
  }
}
#public-wrapper .wedding-info-section .horizontal .date .year {
  display: block;
}
@media (min-width: 768px) {
  #public-wrapper .wedding-info-section .horizontal .date .year {
    display: inline;
  }
}
@media (min-width: 768px) {
  #public-wrapper .wedding-info-section .horizontal .date .day:after {
    display: inline;
  }
}
#public-wrapper .page-content {
  position: relative;
  padding-bottom: 40px;
}
#public-wrapper .page-content .page-accent-bottom-left,
#public-wrapper .page-content .page-accent-bottom-right {
  height: 500px;
  position: absolute;
  bottom: 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
#public-wrapper .page-content .page-accent-bottom-left {
  background-image: url(/assets/poetry/bottom_left.png);
  left: 0;
  width: 25%;
  background-position: bottom left;
}
#public-wrapper .page-content .page-accent-bottom-right {
  background-image: url(/assets/poetry/bottom_right.png);
  right: 0;
  width: 50%;
  background-position: bottom right;
}
@media (min-width: 768px) {
  #public-wrapper .page-content {
    padding-bottom: 80px;
  }
}
#public-wrapper .cms-page-header {
  margin-bottom: 0;
  border-bottom: 1px solid #434343;
}
#public-wrapper .cms-page-header:after,
#public-wrapper .cms-page-header:before {
  display: table;
  content: ' ';
}
#public-wrapper .cms-page-header:after {
  clear: both;
}
#public-wrapper
  #public-page-content-wrapper
  #events-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #events-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #faq-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #faq-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #photos-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #photos-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #poi-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #poi-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #registry-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #registry-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #rsvp-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #rsvp-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #travel-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #travel-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #wedding-party-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #wedding-party-page
  .entity-sections-accent-top-right {
  width: 50%;
  height: 600px;
  position: absolute;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  pointer-events: none;
}
#public-wrapper
  #public-page-content-wrapper
  #events-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #faq-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #photos-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #poi-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #registry-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #rsvp-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #travel-page
  .entity-sections-accent-top-left,
#public-wrapper
  #public-page-content-wrapper
  #wedding-party-page
  .entity-sections-accent-top-left {
  background-image: url(/assets/poetry/nonhp_splatter_01.png);
  left: 0;
  background-position: top left;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  #public-wrapper
    #public-page-content-wrapper
    #events-page
    .entity-sections-accent-top-left,
  #public-wrapper
    #public-page-content-wrapper
    #faq-page
    .entity-sections-accent-top-left,
  #public-wrapper
    #public-page-content-wrapper
    #photos-page
    .entity-sections-accent-top-left,
  #public-wrapper
    #public-page-content-wrapper
    #poi-page
    .entity-sections-accent-top-left,
  #public-wrapper
    #public-page-content-wrapper
    #registry-page
    .entity-sections-accent-top-left,
  #public-wrapper
    #public-page-content-wrapper
    #rsvp-page
    .entity-sections-accent-top-left,
  #public-wrapper
    #public-page-content-wrapper
    #travel-page
    .entity-sections-accent-top-left,
  #public-wrapper
    #public-page-content-wrapper
    #wedding-party-page
    .entity-sections-accent-top-left {
    background-image: url(/assets/poetry/nonhp_splatter@2x_01.png);
  }
}
#public-wrapper
  #public-page-content-wrapper
  #events-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #faq-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #photos-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #poi-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #registry-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #rsvp-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #travel-page
  .entity-sections-accent-top-right,
#public-wrapper
  #public-page-content-wrapper
  #wedding-party-page
  .entity-sections-accent-top-right {
  background-image: url(/assets/poetry/nonhp_splatter_02.png);
  right: 0;
  background-position: top right;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  #public-wrapper
    #public-page-content-wrapper
    #events-page
    .entity-sections-accent-top-right,
  #public-wrapper
    #public-page-content-wrapper
    #faq-page
    .entity-sections-accent-top-right,
  #public-wrapper
    #public-page-content-wrapper
    #photos-page
    .entity-sections-accent-top-right,
  #public-wrapper
    #public-page-content-wrapper
    #poi-page
    .entity-sections-accent-top-right,
  #public-wrapper
    #public-page-content-wrapper
    #registry-page
    .entity-sections-accent-top-right,
  #public-wrapper
    #public-page-content-wrapper
    #rsvp-page
    .entity-sections-accent-top-right,
  #public-wrapper
    #public-page-content-wrapper
    #travel-page
    .entity-sections-accent-top-right,
  #public-wrapper
    #public-page-content-wrapper
    #wedding-party-page
    .entity-sections-accent-top-right {
    background-image: url(/assets/poetry/nonhp_splatter@2x_02.png);
  }
}
#public-wrapper .entity-sections .event-section,
#public-wrapper .entity-sections .faq-section,
#public-wrapper .entity-sections .homepage-section {
  border-bottom: 1px solid #434343;
}
#public-wrapper .entity-sections .event-section:last-child,
#public-wrapper .entity-sections .faq-section:last-child,
#public-wrapper .entity-sections .homepage-section:last-child {
  border-bottom: none;
}
@media (min-width: 768px) {
  #public-wrapper .entity-sections .event-section,
  #public-wrapper .entity-sections .faq-section,
  #public-wrapper .entity-sections .homepage-section {
    border-bottom: none;
  }
  #public-wrapper .entity-sections .event-section .entity-section-title,
  #public-wrapper .entity-sections .faq-section .entity-section-title,
  #public-wrapper .entity-sections .homepage-section .entity-section-title {
    border-right: 1px solid #434343;
  }
}
#public-wrapper .homepage-sections {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  #public-wrapper .homepage-sections {
    width: 748px;
  }
}
@media (min-width: 992px) {
  #public-wrapper .homepage-sections {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  #public-wrapper .homepage-sections {
    width: 1180px;
  }
}
#public-wrapper .homepage-sections > .navbar-collapse,
#public-wrapper .homepage-sections > .navbar-header {
  margin-right: 0;
  margin-left: 0;
}
@media (min-width: 768px) {
  #public-wrapper .homepage-sections > .navbar-collapse,
  #public-wrapper .homepage-sections > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
  #public-wrapper .homepage-sections {
    padding: 0;
  }
}
#public-wrapper .homepage-sections .homepage-section {
  z-index: 1;
  position: relative;
  text-align: center;
  display: block;
  width: 100%;
}
#public-wrapper
  .homepage-sections
  .homepage-section
  .entity-section-description,
#public-wrapper .homepage-sections .homepage-section .entity-section-title {
  display: block;
  width: 100%;
}
#public-wrapper .homepage-sections .homepage-section .homepage-section-title {
  border: 0;
}
@media (min-width: 768px) {
  #public-wrapper .homepage-sections .homepage-section {
    width: 70%;
    margin: auto;
    border: 0;
    padding: 0 20px 30px;
  }
  #public-wrapper .homepage-sections .homepage-section .homepage-section-title {
    margin-top: 40px;
  }
  #public-wrapper
    .homepage-sections
    .homepage-section.entity-section
    .homepage-section-description,
  #public-wrapper
    .homepage-sections
    .homepage-section.entity-section
    .homepage-section-title {
    display: block;
    width: 100%;
    padding: 0;
  }
  #public-wrapper
    .homepage-sections
    .homepage-section:first-child
    .section-title {
    margin-top: 0;
  }
}
#public-wrapper #registry-page .registry-details .non-zola,
#public-wrapper .poi-sections .poi-section,
#public-wrapper .poi-sections .travel-section,
#public-wrapper .poi-sections .wedding-party-section,
#public-wrapper .travel-sections .poi-section,
#public-wrapper .travel-sections .travel-section,
#public-wrapper .travel-sections .wedding-party-section,
#public-wrapper .wedding-party-sections .poi-section,
#public-wrapper .wedding-party-sections .travel-section,
#public-wrapper .wedding-party-sections .wedding-party-section {
  border-bottom: 1px solid #434343;
}
@media (min-width: 768px) {
  #public-wrapper .poi-sections .poi-section,
  #public-wrapper .poi-sections .travel-section,
  #public-wrapper .poi-sections .wedding-party-section,
  #public-wrapper .travel-sections .poi-section,
  #public-wrapper .travel-sections .travel-section,
  #public-wrapper .travel-sections .wedding-party-section,
  #public-wrapper .wedding-party-sections .poi-section,
  #public-wrapper .wedding-party-sections .travel-section,
  #public-wrapper .wedding-party-sections .wedding-party-section {
    border-bottom: none;
  }
  #public-wrapper .poi-sections .poi-section:nth-child(odd),
  #public-wrapper .poi-sections .travel-section:nth-child(odd),
  #public-wrapper .poi-sections .wedding-party-section:nth-child(odd),
  #public-wrapper .travel-sections .poi-section:nth-child(odd),
  #public-wrapper .travel-sections .travel-section:nth-child(odd),
  #public-wrapper .travel-sections .wedding-party-section:nth-child(odd),
  #public-wrapper .wedding-party-sections .poi-section:nth-child(odd),
  #public-wrapper .wedding-party-sections .travel-section:nth-child(odd),
  #public-wrapper
    .wedding-party-sections
    .wedding-party-section:nth-child(odd) {
    border-right: 1px solid #434343;
  }
  #public-wrapper .poi-sections .poi-section:last-child:nth-child(odd),
  #public-wrapper .poi-sections .travel-section:last-child:nth-child(odd),
  #public-wrapper
    .poi-sections
    .wedding-party-section:last-child:nth-child(odd),
  #public-wrapper .travel-sections .poi-section:last-child:nth-child(odd),
  #public-wrapper .travel-sections .travel-section:last-child:nth-child(odd),
  #public-wrapper
    .travel-sections
    .wedding-party-section:last-child:nth-child(odd),
  #public-wrapper
    .wedding-party-sections
    .poi-section:last-child:nth-child(odd),
  #public-wrapper
    .wedding-party-sections
    .travel-section:last-child:nth-child(odd),
  #public-wrapper
    .wedding-party-sections
    .wedding-party-section:last-child:nth-child(odd) {
    border: 0;
  }
}
#public-wrapper #poi-page .map-container {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #434343;
}
@media (min-width: 768px) {
  #public-wrapper #poi-page .map-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
#public-wrapper #registry-page .zola-registry-logo-dark,
#public-wrapper #registry-page .zola-registry-logo-light {
  margin-top: 20px;
  display: none;
}
#public-wrapper #registry-page .registry-names {
  border-top: 1px solid #434343;
  border-bottom: 1px solid #434343;
}
#public-wrapper #registry-page .registry-nav {
  background-color: #f9f6f4;
}
#public-wrapper #registry-page .registry-details .non-zola:first-child {
  border-top: 1px solid #434343;
}
#public-wrapper
  #registry-page
  .registry-details.with-nav
  .non-zola:first-child {
  border-top: none;
}
#public-wrapper
  #registry-page
  .registries-nav.sticky-nav
  .pages-nav-container
  > .nav-container {
  border-top: 1px solid #434343;
  border-bottom: 1px solid #434343;
  border-width: 1px;
}
#public-wrapper #registry-page .fast-facet-buttons {
  flex-grow: 1;
  margin-top: -5px;
}
#public-wrapper #registry-page .fast-facet-list {
  margin: 15px 10px 5px;
}
#public-wrapper #registry-page .fast-facet--toggle-icon {
  margin-left: 3px;
  top: 1px;
  position: relative;
}
#public-wrapper #registry-page .fast-facet-toggled {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#public-wrapper #registry-page .fast-facet-sort-select {
  height: 40px;
  width: 200px;
}
#public-wrapper #registry-page .fast-facet-sort {
  margin-top: 4px;
  margin-bottom: 0;
}
#public-wrapper #registry-page select.fast-facet-sort-select {
  font-size: 14px;
  font-family: inherit;
  color: rgba(33, 32, 31, 0.7);
}
#public-wrapper #registry-page .fast-facet-sort label.fast-facet--sort-label {
  margin-top: 2px;
  margin-bottom: 3px;
}
#public-wrapper #registry-page label.fast-facet--label {
  margin-bottom: 5px;
  margin-top: 10px;
  color: #21201f;
}
#public-wrapper #registry-page .mobile-label {
  font-weight: 700;
  letter-spacing: 1.2px;
}
#public-wrapper #registry-page .fast-facet-toggle {
  text-align: center;
  padding: 8px 10px 5px 14px;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin: 5px auto 0;
  cursor: pointer;
  border-radius: 50px;
  background-color: transparent;
  border: rgba(33, 32, 31, 0.3) 1px solid;
  color: rgba(33, 32, 31, 0.7);
}
#public-wrapper #registry-page .fast-facet-toggle:focus {
  outline: 0;
}
#public-wrapper #registry-page .fast-facet-toggle:hover {
  background-color: rgba(33, 32, 31, 0.06);
  border-color: rgba(33, 32, 31, 0.3);
  color: rgba(33, 32, 31, 0.7);
  transition: 0.2s;
}
#public-wrapper #registry-page .fast-facet-toggle--selected {
  background-color: rgba(33, 32, 31, 0.7);
  border: 0;
  color: #fff;
  padding-right: 12px;
  margin-bottom: 5px;
}
#public-wrapper #registry-page .fast-facet-toggle--selected:hover {
  background-color: #21201f;
  color: #fff;
}
#public-wrapper #registry-page .fast-facet-toggle.disabled,
#public-wrapper #registry-page .fast-facet-toggle[disabled] {
  background-color: rgba(33, 32, 31, 0.06);
  border: rgba(33, 32, 31, 0.3) 1px solid;
  color: rgba(33, 32, 31, 0.3);
}
#public-wrapper #registry-page .fast-facet {
  padding: 8px 14px;
  font-size: 14px;
  display: inline-block;
  margin: 10px 9px 0 0;
  cursor: pointer;
  border-radius: 50px;
  background-color: transparent;
  border: rgba(33, 32, 31, 0.3) 1px solid;
  color: rgba(33, 32, 31, 0.7);
}
#public-wrapper #registry-page .fast-facet:focus {
  outline: 0;
}
#public-wrapper #registry-page .fast-facet:hover {
  background-color: rgba(33, 32, 31, 0.06);
  border-color: rgba(33, 32, 31, 0.3);
  color: rgba(33, 32, 31, 0.7);
  transition: 0.2s;
}
#public-wrapper #registry-page .fast-facet--selected {
  background-color: rgba(33, 32, 31, 0.7);
  border: 0;
  color: #fff;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 9px;
  margin-top: 10px;
}
#public-wrapper #registry-page .fast-facet--selected:hover {
  background-color: #21201f;
  color: #fff;
}
#public-wrapper #registry-page .fast-facet--selected:after {
  content: url(/assets/logos/x-circle-light.svg);
  width: 16px;
  height: 16px;
  margin-left: 10px;
  position: relative;
  top: 3px;
}
#public-wrapper #registry-page .fast-facet.disabled,
#public-wrapper #registry-page .fast-facet[disabled] {
  background-color: rgba(33, 32, 31, 0.06);
  border: rgba(33, 32, 31, 0.3) 1px solid;
  color: rgba(33, 32, 31, 0.3);
}
#public-wrapper #registry-page .fast-facet-toggled__hidden {
  animation: fadeOut 0.15s ease-in;
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}
#public-wrapper #registry-page .fast-facet-toggled__visible {
  animation: fadeIn 0.2s ease-out;
  position: relative;
  top: -20;
}
#public-wrapper #registry-page .registy-nav {
  background-color: #f6f6f6;
}
@media (max-height: 900px) and (min-width: 992px) {
  #public-wrapper
    #registry-page
    .registries-nav.sticky-nav
    .pages-nav-container
    > .nav-container {
    border-top: none;
  }
}
#public-wrapper #rsvp-page .search-result-item,
#public-wrapper #rsvp-page-v2 .search-result-item {
  border-bottom: 1px solid #434343;
}
#public-wrapper #rsvp-page .search-result-item:first-of-type,
#public-wrapper #rsvp-page-v2 .search-result-item:first-of-type {
  border-top: 1px solid #434343;
}
#public-wrapper #rsvp-page-v2 .btn {
  color: #434343;
  background: #f9f6f4;
  border-color: #434343;
}
#public-wrapper #rsvp-page-v2 .btn-active {
  color: #f9f6f4;
  background: #434343;
  border-color: #434343;
}
#public-wrapper #rsvp-page-v2 .scroll-button-container {
  border-bottom: 1px solid #434343;
}
#public-wrapper #rsvp-page-v2 .scroll-button-container .scroll-button,
#public-wrapper
  #rsvp-page-v2
  .scroll-button-container
  .scroll-button
  .scroll-button-text {
  color: #434343;
}
#public-wrapper
  #rsvp-page-v2
  .scroll-button-container
  .scroll-button
  .scroll-button-icon {
  color: #f9f6f4;
  background-color: #434343;
}
#public-wrapper
  #rsvp-page-v2
  .scroll-button-container
  .scroll-button
  .scroll-button-icon
  .zolaicon-public-chevron-down:before {
  color: #f9f6f4;
}
#public-wrapper #rsvp-page-v2 .scroll-select .btn-boxed {
  background: #fff;
  border: 1px solid #434343;
}
#public-wrapper #rsvp-page-v2 .scroll-select .btn-boxed .zolaicon {
  color: #000;
}
#public-wrapper #rsvp-page-v2 .scroll-select .scroll-select-dropdown {
  border: 1px solid #434343;
  border-top: none;
  margin-top: -2px;
}
#public-wrapper
  #rsvp-page-v2
  .scroll-select
  .scroll-select-dropdown
  .scroll-select-option {
  text-align: left;
  color: #000;
}
#public-wrapper
  #rsvp-page-v2
  .scroll-select
  .scroll-select-dropdown
  .scroll-select-option.scroll-select-active {
  background-color: #eaeaea;
}
@media (max-width: 767px) {
  #public-wrapper #rsvp-page-v2 .event-section-title {
    border-bottom: 1px solid #434343;
  }
}
#public-wrapper #rsvp-page-v2 .guest-rsvp-email-container {
  border-bottom: 1px solid #434343;
}
#public-wrapper .homepage-seal,
#public-wrapper .seal {
  display: none;
}
#public-wrapper #footer {
  border-top: 1px solid #434343;
}
#public-wrapper #footer .made-with-love {
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}
